.left,
.right {
    width: 50%;
    background-color: yellow;
}

.left {
    float: left;
}

.right {
    float: right;
}

.userName {
    border: thin solid;
    background-color: red;
    color: white;
}